# Cloudflare
TUNNEL_TOKEN=xyz

# Pi-hole
PIHOLE_PASSWORD=foo

# Comum
PUID=1000
PGID=1000
TZ=Europe/Lisbon

# Maintainer
WATCHTOWER_NOTIFICATIONS: shoutrrr
WATCHTOWER_NOTIFICATION_URL: "discord://token@channel"